# Categorical Variable Encoding 

## Techniques:



### 1)One-hot encoding

      also includes One Hot Encoding of Frequent Categories

### 2)Ordinal/Lablel/Integer encoding

### 3)Count or Frequency encoding

### 4)Target guided ordinal encoding or ordered ordinal encoding

### 5)Target encoding or mean encoding

### 6)Probability ratio encoding

### 7)Weight of Evidence(WOE)

### 8) Rare Label endoding

### 9)Binary encoding and feature hashing

# 1)One-hot encoding -Titanic Dataset Kaggle


One hot encoding, consists in encoding each categorical variable with different boolean variables (also called dummy variables) which take values 0 or 1, indicating if a category is present in an observation.

- encoding into k varibles

- encoding into k-1 variables : 
                                     One hot encoding into k-1 binary variables takes into account that we can use 1 less dimension and still represent the whole information

In [20]:
import pandas as pd

# to split the datasets
from sklearn.model_selection import train_test_split

# for one hot encoding with sklearn
from sklearn.preprocessing import OneHotEncoder

# for one hot encoding with feature-engine
from feature_engine.categorical_encoders import OneHotCategoricalEncoder

In [21]:
data = pd.read_csv('D:/ShakthiSai -Keerthana Learnings/AI and Machine Learning/Feature Engineering/titanic_train.csv',
                   usecols=['Sex', 'Embarked', 'Cabin',  'Survived'])

data.head()

   Survived     Sex Cabin Embarked
0         0    male   NaN        S
1         1  female   C85        C
2         1  female   NaN        S
3         1  female  C123        S
4         0    male   NaN        S

In [22]:
data['Cabin']=data['Cabin'].str[0]
data['Cabin'].head()

0    NaN
1      C
2    NaN
3      C
4    NaN
Name: Cabin, dtype: object

In [24]:
X=data[['Sex', 'Embarked', 'Cabin']]
y=data['Survived']

In [26]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [27]:
X_train.shape, X_test.shape

((623, 3), (268, 3))

 ### explore the cardinality

In [28]:
X_train['Sex'].unique()

array(['male', 'female'], dtype=object)

In [29]:
X_train['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [30]:
X_train['Cabin'].unique()

array(['E', 'D', nan, 'B', 'C', 'A', 'F', 'G', 'T'], dtype=object)

 ## Using pandas
 
 
 dataframe returned with feature names

In [31]:
tmp = pd.get_dummies(X_train['Embarked'])

tmp.head()

     C  Q  S
857  0  0  1
52   1  0  0
386  0  0  1
124  0  0  1
578  1  0  0

In [32]:
tmp = pd.get_dummies(X_train)
tmp.head()

,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T
857,0,1,0,0,1,0,0,0,0,1,0,0,0
52,1,0,1,0,0,0,0,0,1,0,0,0,0
386,0,1,0,0,1,0,0,0,0,0,0,0,0
124,0,1,0,0,1,0,0,0,1,0,0,0,0
578,1,0,1,0,0,0,0,0,0,0,0,0,0

In [33]:
tmp = pd.get_dummies(X_test)
tmp.head()

,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G
495,0,1,1,0,0,0,0,0,0,0,0,0
648,0,1,0,0,1,0,0,0,0,0,0,0
278,0,1,0,1,0,0,0,0,0,0,0,0
31,1,0,1,0,0,0,1,0,0,0,0,0
255,1,0,1,0,0,0,0,0,0,0,0,0

### using k-1 in pandas give drop_first=True

In [35]:
tmp = pd.get_dummies(X_train['Embarked'], drop_first=True)

tmp.head()

     Q  S
857  0  1
52   0  0
386  0  1
124  0  1
578  0  0

In [36]:
tmp = pd.get_dummies(X_train, drop_first=True)
tmp.head()

,Sex_male,Embarked_Q,Embarked_S,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T
857,1,0,1,0,0,0,1,0,0,0
52,0,0,0,0,0,1,0,0,0,0
386,1,0,1,0,0,0,0,0,0,0
124,1,0,1,0,0,1,0,0,0,0
578,0,0,0,0,0,0,0,0,0,0

In [37]:
tmp = pd.get_dummies(X_test, drop_first=True)
tmp.head()

,Sex_male,Embarked_Q,Embarked_S,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G
495,1,0,0,0,0,0,0,0,0
648,1,0,1,0,0,0,0,0,0
278,1,1,0,0,0,0,0,0,0
31,0,0,0,1,0,0,0,0,0
255,0,0,0,0,0,0,0,0,0

### Bonus: get_dummies() can handle missing values

In [40]:
pd.get_dummies(X_train['Embarked'], drop_first=True, dummy_na=True).head()

     Q  S  NaN
857  0  1    0
52   0  0    0
386  0  1    0
124  0  1    0
578  0  0    0

## Using scikitlearn 


- it returns a numpy array instead of a pandas dataframe


- it does not return the variable names, therefore inconvenient for variable exploration

In [42]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(categories='auto',
                       drop='first', # to return k-1, use drop=false to return k dummies
                       sparse=False,
                       handle_unknown='error') # helps deal with rare labels

encoder.fit(X_train.fillna('Missing'))

OneHotEncoder(drop='first', sparse=False)

In [43]:
encoder.categories_

[array(['female', 'male'], dtype=object),
 array(['C', 'Missing', 'Q', 'S'], dtype=object),
 array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'Missing', 'T'], dtype=object)]

In [44]:
tmp = encoder.transform(X_train.fillna('Missing'))

pd.DataFrame(tmp).head()

     0    1    2    3    4    5    6    7    8    9   10   11
0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
2  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
3  1.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0

In [45]:
encoder.get_feature_names()

array(['x0_male', 'x1_Missing', 'x1_Q', 'x1_S', 'x2_B', 'x2_C', 'x2_D',
       'x2_E', 'x2_F', 'x2_G', 'x2_Missing', 'x2_T'], dtype=object)

In [46]:

tmp = encoder.transform(X_test.fillna('Missing'))

tmp = pd.DataFrame(tmp)
tmp.columns = encoder.get_feature_names()

tmp.head()

,x0_male,x1_Missing,x1_Q,x1_S,x2_B,x2_C,x2_D,x2_E,x2_F,x2_G,x2_Missing,x2_T
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### we have to change to dataframe and give column names manually

## Using feature engine

- returns dataframe
- returns feature names

In [48]:
from feature_engine.categorical_encoders import OneHotCategoricalEncoder

In [49]:
ohe_enc = OneHotCategoricalEncoder(
    top_categories=None,
    drop_last=True) # to return k-1, false to return k


ohe_enc.fit(X_train.fillna('Missing'))

OneHotCategoricalEncoder(drop_last=True, variables=['Sex', 'Embarked', 'Cabin'])

In [50]:
ohe_enc.variables

['Sex', 'Embarked', 'Cabin']

In [52]:

tmp = ohe_enc.transform(X_train.fillna('Missing'))
tmp.head()

,Sex_male,Embarked_S,Embarked_C,Embarked_Q,Cabin_E,Cabin_D,Cabin_Missing,Cabin_B,Cabin_C,Cabin_A,Cabin_F,Cabin_G
857,1,1,0,0,1,0,0,0,0,0,0,0
52,0,0,1,0,0,1,0,0,0,0,0,0
386,1,1,0,0,0,0,1,0,0,0,0,0
124,1,1,0,0,0,1,0,0,0,0,0,0
578,0,0,1,0,0,0,1,0,0,0,0,0

In [53]:
tmp = ohe_enc.transform(X_test.fillna('Missing'))
tmp.head()

,Sex_male,Embarked_S,Embarked_C,Embarked_Q,Cabin_E,Cabin_D,Cabin_Missing,Cabin_B,Cabin_C,Cabin_A,Cabin_F,Cabin_G
495,1,0,1,0,0,0,1,0,0,0,0,0
648,1,1,0,0,0,0,1,0,0,0,0,0
278,1,0,0,1,0,0,1,0,0,0,0,0
31,0,0,1,0,0,0,0,1,0,0,0,0
255,0,0,1,0,0,0,1,0,0,0,0,0

## using feature engine is easy !

# One Hot Encoding of Frequent Categories

In [56]:
ohe_enc1 = OneHotCategoricalEncoder(
    top_categories=10,  # you can change this value to select more or less variables
    # we can select which variables to encode
    variables=['Sex'],
    drop_last=False)

ohe_enc1.fit(X_train)

OneHotCategoricalEncoder(top_categories=10, variables=['Sex'])

In [58]:
ohe_enc1.encoder_dict_

{'Sex': ['male', 'female']}

In [59]:
X_train = ohe_enc1.transform(X_train)
X_test = ohe_enc1.transform(X_test)

# let's explore the result
X_train.head()

    Embarked Cabin  Sex_male  Sex_female
857        S     E         1           0
52         C     D         0           1
386        S   NaN         1           0
124        S     D         1           0
578        C   NaN         0           1

# 2)Ordinal/Label/Integer encoding -House Price Prediction kaggle

In [60]:
import numpy as np
import pandas as pd

# to split the datasets
from sklearn.model_selection import train_test_split

# for integer encoding using sklearn
from sklearn.preprocessing import LabelEncoder

# for integer encoding using feature-engine
from feature_engine.categorical_encoders import OrdinalCategoricalEncoder

In [61]:
df = pd.read_csv('D:/ShakthiSai -Keerthana Learnings/AI and Machine Learning/Feature Engineering/house_loan.csv',
                   usecols=['Neighborhood', 'Exterior1st', 'Exterior2nd', 'SalePrice'])

df.head()

  Neighborhood Exterior1st Exterior2nd  SalePrice
0      CollgCr     VinylSd     VinylSd     208500
1      Veenker     MetalSd     MetalSd     181500
2      CollgCr     VinylSd     VinylSd     223500
3      Crawfor     Wd Sdng     Wd Shng     140000
4      NoRidge     VinylSd     VinylSd     250000

In [62]:
X= df[['Neighborhood', 'Exterior1st', 'Exterior2nd']]  # predictors
y=df['SalePrice']

In [63]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [64]:
X_train.shape

(1022, 3)

In [65]:
X_test.shape

(438, 3)

## using pandas

In [67]:
def find_category_mappings(df, variable):
    return {k: i for i, k in enumerate(df[variable].unique(), 0)}


def integer_encode(train, test, variable, ordinal_mapping):

    X_train[variable] = X_train[variable].map(ordinal_mapping)
    X_test[variable] = X_test[variable].map(ordinal_mapping)

In [68]:
# and now we run a loop over the remaining categorical variables

for variable in ['Exterior1st', 'Exterior2nd']:
    mappings = find_category_mappings(X_train, variable)
    integer_encode(X_train, X_test, variable, mappings)

C:\Users\Vikee\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\Vikee\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [69]:
X_train.head()

     Neighborhood  Exterior1st  Exterior2nd
64        CollgCr            0            0
682       ClearCr            1            1
960       BrkSide            1            2
1384      Edwards            2            3
1100        SWISU            1            1

In [70]:
## for better understanding

In [75]:
catmap={k: i for i, k in enumerate(X_train['Neighborhood'].unique(), 0)}
catmap

{0: 0,
 1: 1,
 2: 2,
 3: 3,
 4: 4,
 5: 5,
 6: 6,
 7: 7,
 8: 8,
 9: 9,
 10: 10,
 11: 11,
 12: 12,
 13: 13,
 14: 14,
 15: 15,
 16: 16,
 17: 17,
 18: 18,
 19: 19,
 20: 20,
 21: 21,
 22: 22,
 23: 23,
 24: 24}

In [73]:
##Use this dictionary we created to remap using  map  in same dataset to encode those integers
X_train['Neighborhood'] =X_train['Neighborhood'].map(catmap)

C:\Users\Vikee\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [76]:
X_train.head()

      Neighborhood  Exterior1st  Exterior2nd
64               0            0            0
682              1            1            1
960              2            1            2
1384             3            2            3
1100             4            1            1

## using scikitlearn

In [77]:
from sklearn.preprocessing import LabelEncoder

In [78]:
le = LabelEncoder()
le.fit(X_train['Neighborhood'])

LabelEncoder()

In [79]:
le.classes_

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24], dtype=int64)

In [82]:
X_train['Neighborhood'] = le.transform(X_train['Neighborhood'])


X_train['Neighborhood'].head()

C:\Users\Vikee\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

64      0
682     1
960     2
1384    3
1100    4
Name: Neighborhood, dtype: int64

In [ ]:
## to apply for multiplevariables, we need 
## from collections import defaultdict

## using feature engine


encoding_method='arbitrary'

In [87]:
X_train, X_test, y_train, y_test = train_test_split(
    df[['Neighborhood', 'Exterior1st']], # predictors
    df['SalePrice'],  # target
    test_size=0.3,  # percentage of obs in test set
    random_state=0)  # seed to ensure reproducibility

X_train.shape, X_test.shape

((1022, 2), (438, 2))

In [88]:
ordinal_enc = OrdinalCategoricalEncoder(
    encoding_method='arbitrary',
    variables=['Neighborhood', 'Exterior1st'])

ordinal_enc.fit(X_train)

OrdinalCategoricalEncoder(encoding_method='arbitrary',
                          variables=['Neighborhood', 'Exterior1st'])

In [90]:
# in the encoder dict we can observe the numbers
# assigned to each category for all the indicated variables
ordinal_enc.encoder_dict_

{'Neighborhood': {'CollgCr': 0,
  'ClearCr': 1,
  'BrkSide': 2,
  'Edwards': 3,
  'SWISU': 4,
  'Sawyer': 5,
  'Crawfor': 6,
  'NAmes': 7,
  'Mitchel': 8,
  'Timber': 9,
  'Gilbert': 10,
  'Somerst': 11,
  'MeadowV': 12,
  'OldTown': 13,
  'BrDale': 14,
  'NWAmes': 15,
  'NridgHt': 16,
  'SawyerW': 17,
  'NoRidge': 18,
  'IDOTRR': 19,
  'NPkVill': 20,
  'StoneBr': 21,
  'Blmngtn': 22,
  'Veenker': 23,
  'Blueste': 24},
 'Exterior1st': {'VinylSd': 0,
  'Wd Sdng': 1,
  'WdShing': 2,
  'HdBoard': 3,
  'MetalSd': 4,
  'AsphShn': 5,
  'BrkFace': 6,
  'Plywood': 7,
  'CemntBd': 8,
  'Stucco': 9,
  'BrkComm': 10,
  'AsbShng': 11,
  'ImStucc': 12,
  'CBlock': 13,
  'Stone': 14}}

In [91]:
X_train = ordinal_enc.transform(X_train)
X_test = ordinal_enc.transform(X_test)

# let's explore the result
X_train.head()

      Neighborhood  Exterior1st
64               0            0
682              1            1
960              2            1
1384             3            2
1100             4            1

# 3)Count or Frequency encoding


In count encoding we replace the categories by the count of the observations that show that category in the dataset. Similarly, we can replace the category by the frequency -or percentage- of observations in the dataset. 

Disadvantages


If 2 different categories appear the same amount of times in the dataset, that is, they appear in the same number of observations, they will be replaced by the same number: may lose valuable information.
For example, if there are 10 observations for the category blue and 10 observations for the category red, both will be replaced by 10, and therefore, after the encoding, will appear to be the same thing.

In [92]:
import numpy as np
import pandas as pd

# to split the datasets
from sklearn.model_selection import train_test_split

# to encode with feature-engine
from feature_engine.categorical_encoders import CountFrequencyCategoricalEncoder

## using feature engine

In [101]:
X_train, X_test, y_train, y_test = train_test_split(
    df[['Neighborhood', 'Exterior1st']], # predictors
    df['SalePrice'],  # target
    test_size=0.3,  # percentage of obs in test set
    random_state=0)  # seed to ensure reproducibility

X_train.shape, X_test.shape

((1022, 2), (438, 2))

In [102]:
count_enc = CountFrequencyCategoricalEncoder(
    encoding_method='count',# to do frequency ==> encoding_method='frequency'
variables=['Neighborhood', 'Exterior1st']) 
count_enc.fit(X_train)

CountFrequencyCategoricalEncoder(variables=['Neighborhood', 'Exterior1st'])

In [103]:
# in the encoder dict we can observe the number of 
# observations per category for each variable

count_enc.encoder_dict_

{'Neighborhood': {'NAmes': 151,
  'CollgCr': 105,
  'OldTown': 73,
  'Edwards': 71,
  'Sawyer': 61,
  'Somerst': 56,
  'Gilbert': 55,
  'NridgHt': 51,
  'NWAmes': 51,
  'SawyerW': 45,
  'BrkSide': 41,
  'Mitchel': 36,
  'Crawfor': 35,
  'Timber': 30,
  'NoRidge': 30,
  'IDOTRR': 24,
  'ClearCr': 24,
  'SWISU': 18,
  'StoneBr': 16,
  'MeadowV': 12,
  'Blmngtn': 12,
  'BrDale': 10,
  'NPkVill': 7,
  'Veenker': 6,
  'Blueste': 2},
 'Exterior1st': {'VinylSd': 364,
  'HdBoard': 153,
  'Wd Sdng': 148,
  'MetalSd': 138,
  'Plywood': 86,
  'CemntBd': 39,
  'BrkFace': 35,
  'WdShing': 21,
  'Stucco': 17,
  'AsbShng': 15,
  'Stone': 2,
  'AsphShn': 1,
  'ImStucc': 1,
  'CBlock': 1,
  'BrkComm': 1}}

In [104]:
X_train = count_enc.transform(X_train)
X_test = count_enc.transform(X_test)

# let's explore the result
X_train.head()

      Neighborhood  Exterior1st
64             105          364
682             24          148
960             41          148
1384            71           21
1100            18          148

## using pandas

In [106]:
count_map = X_train['Neighborhood'].value_counts().to_dict()

count_map

{151: 151,
 105: 105,
 51: 102,
 73: 73,
 71: 71,
 61: 61,
 30: 60,
 56: 56,
 55: 55,
 24: 48,
 45: 45,
 41: 41,
 36: 36,
 35: 35,
 12: 24,
 18: 18,
 16: 16,
 10: 10,
 7: 7,
 6: 6,
 2: 2}

In [107]:
# replace the labels with the counts

X_train['Neighborhood'] = X_train['Neighborhood'].map(count_map)
X_test['Neighborhood'] = X_test['Neighborhood'].map(count_map)

In [108]:
X_train['Neighborhood'].head(10)

64      105
682      48
960      41
1384     71
1100     18
416      61
1034     35
853     151
472      71
1011     71
Name: Neighborhood, dtype: int64