# Categorical Variable Encoding 

## Techniques:



### 1)One-hot encoding

      also includes One Hot Encoding of Frequent Categories

### 2)Ordinal/Lablel/Integer encoding

### 3)Count or Frequency encoding

### 4)Target guided ordinal encoding or ordered ordinal encoding

### 5)Target encoding or mean encoding

### 6)Probability ratio encoding

### 7)Weight of Evidence(WOE)

### 8) Rare Label endoding

### 9)Binary encoding and feature hashing

for method 4 and 5 in pandas, we need to add target also in Y

but only for pandas method and not for feature engine

# 4)Target guided ordinal encoding or ordered ordinal encoding-House Price Prediction kaggle


## Mean it


## Rank it


### Monotonicity:

as the value of the independent variable (predictor) increases, so does the target, or conversely, as the value of the variable increases, the target value decreases.

In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

# to split the datasets
from sklearn.model_selection import train_test_split

# for encoding with feature-engine
from feature_engine.categorical_encoders import OrdinalCategoricalEncoder

In [20]:
df = pd.read_csv('D:/ShakthiSai -Keerthana Learnings/AI and Machine Learning/Feature Engineering/house_loan.csv',
                   usecols=['Neighborhood', 'Exterior1st', 'Exterior2nd', 'SalePrice'])

df.head()

  Neighborhood Exterior1st Exterior2nd  SalePrice
0      CollgCr     VinylSd     VinylSd     208500
1      Veenker     MetalSd     MetalSd     181500
2      CollgCr     VinylSd     VinylSd     223500
3      Crawfor     Wd Sdng     Wd Shng     140000
4      NoRidge     VinylSd     VinylSd     250000

In [21]:
for col in df.columns:
    print(col,len(df[col].unique()))

Neighborhood 25
Exterior1st 15
Exterior2nd 16
SalePrice 663

In [22]:
X=df[['Neighborhood', 'Exterior1st', 'Exterior2nd']]
y=df['SalePrice']

In [23]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

## using feature engine

In [24]:
ordinal_enc = OrdinalCategoricalEncoder(
    # NOTE that we indicate ordered in the encoding_method, otherwise it assings numbers arbitrarily
    encoding_method='ordered',
    variables=['Neighborhood', 'Exterior1st', 'Exterior2nd'])

In [14]:
ordinal_enc.fit(X_train, y_train)

OrdinalCategoricalEncoder(variables=['Neighborhood', 'Exterior1st',
                                     'Exterior2nd'])

In [15]:
ordinal_enc.encoder_dict_

{'Neighborhood': {'IDOTRR': 0,
  'BrDale': 1,
  'MeadowV': 2,
  'Edwards': 3,
  'BrkSide': 4,
  'OldTown': 5,
  'Sawyer': 6,
  'Blueste': 7,
  'SWISU': 8,
  'NPkVill': 9,
  'NAmes': 10,
  'Mitchel': 11,
  'SawyerW': 12,
  'Gilbert': 13,
  'NWAmes': 14,
  'Blmngtn': 15,
  'CollgCr': 16,
  'ClearCr': 17,
  'Crawfor': 18,
  'Somerst': 19,
  'Veenker': 20,
  'Timber': 21,
  'NridgHt': 22,
  'StoneBr': 23,
  'NoRidge': 24},
 'Exterior1st': {'BrkComm': 0,
  'AsphShn': 1,
  'CBlock': 2,
  'AsbShng': 3,
  'WdShing': 4,
  'Wd Sdng': 5,
  'MetalSd': 6,
  'HdBoard': 7,
  'Plywood': 8,
  'Stucco': 9,
  'BrkFace': 10,
  'VinylSd': 11,
  'CemntBd': 12,
  'Stone': 13,
  'ImStucc': 14},
 'Exterior2nd': {'AsphShn': 0,
  'CBlock': 1,
  'AsbShng': 2,
  'Brk Cmn': 3,
  'Wd Shng': 4,
  'MetalSd': 5,
  'Stone': 6,
  'Wd Sdng': 7,
  'Plywood': 8,
  'HdBoard': 9,
  'Stucco': 10,
  'BrkFace': 11,
  'ImStucc': 12,
  'VinylSd': 13,
  'CmentBd': 14,
  'Other': 15}}

In [16]:
X_train = ordinal_enc.transform(X_train)
X_test = ordinal_enc.transform(X_test)

# let's explore the result
X_train.head()

      Neighborhood  Exterior1st  Exterior2nd
64              16           11           13
682             17            5            7
960              4            5            8
1384             3            4            4
1100             8            5            7

## using pandas

In [28]:
X_train, X_test, y_train, y_test = train_test_split(
    df[['Neighborhood', 'Exterior1st', 'Exterior2nd', 'SalePrice']],  # this time we keep the target!!
    df['SalePrice'],  # target
    test_size=0.3,  # percentage of obs in test set
    random_state=0)  # seed to ensure reproducibility

X_train.shape, X_test.shape

((1022, 4), (438, 4))

In [29]:
def find_category_mappings(df, variable, target):

    # first  we generate an ordered list with the labels
    ordered_labels = X_train.groupby([variable
                                      ])[target].mean().sort_values().index

    # return the dictionary with mappings
    return {k: i for i, k in enumerate(ordered_labels, 0)}


def integer_encode(train, test, variable, ordinal_mapping):

    X_train[variable] = X_train[variable].map(ordinal_mapping)
    X_test[variable] = X_test[variable].map(ordinal_mapping)

In [32]:
for variable in ['Neighborhood','Exterior1st', 'Exterior2nd']:

    mappings = find_category_mappings(X_train, variable, 'SalePrice')

    integer_encode(X_train, X_test, variable, mappings)

In [33]:
X_train.head()

      Neighborhood  Exterior1st  Exterior2nd  SalePrice
64              16           11           13     219500
682             17            5            7     173000
960              4            5            8     116500
1384             3            4            4     105000
1100             8            5            7      60000

# 5)Target encoding or mean encoding

In [34]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

# to split the datasets
from sklearn.model_selection import train_test_split

# for encoding with feature-engine
from feature_engine.categorical_encoders import MeanCategoricalEncoder

In [47]:
data = pd.read_csv('D:/ShakthiSai -Keerthana Learnings/AI and Machine Learning/Feature Engineering/titanic_train.csv',
                   usecols=['Sex', 'Embarked', 'Cabin',  'Survived'])

data.head()

   Survived     Sex Cabin Embarked
0         0    male   NaN        S
1         1  female   C85        C
2         1  female   NaN        S
3         1  female  C123        S
4         0    male   NaN        S

In [48]:
data['Embarked'].fillna('Missing', inplace=True)

In [49]:
data['Cabin'] = data['Cabin'].astype(str).str[0]

In [50]:
data.head()

   Survived     Sex Cabin Embarked
0         0    male     n        S
1         1  female     C        C
2         1  female     n        S
3         1  female     C        S
4         0    male     n        S

In [61]:
X=data[['Sex', 'Embarked', 'Cabin','Survived']]  # this time we keep the target!!
y=data['Survived']

In [62]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

## using pandas

In [63]:

def find_category_mappings(df, variable, target):
    return df.groupby([variable])[target].mean().to_dict()


def integer_encode(train, test, variable, ordinal_mapping):

    X_train[variable] = X_train[variable].map(ordinal_mapping)
    X_test[variable] = X_test[variable].map(ordinal_mapping)

In [64]:
for variable in ['Sex', 'Embarked']:
    mappings = find_category_mappings(X_train, variable,'Survived')
    integer_encode(X_train, X_test, variable, mappings)

C:\Users\Vikee\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\Vikee\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [65]:
X_train.head()

          Sex  Embarked Cabin  Survived
857  0.196078  0.341357     E         1
52   0.753488  0.564815     D         1
386  0.196078  0.341357     n         0
124  0.196078  0.341357     D         0
578  0.753488  0.564815     n         0

## using feature engine

In [82]:
X=data[['Sex', 'Embarked', 'Cabin']]
y=data['Survived']

In [83]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [84]:
from feature_engine.categorical_encoders import MeanCategoricalEncoder

mean_enc = MeanCategoricalEncoder(variables=['Cabin', 'Sex', 'Embarked'])

In [85]:
mean_enc.fit(X_train, y_train)

MeanCategoricalEncoder(variables=['Cabin', 'Sex', 'Embarked'])

In [86]:
mean_enc.encoder_dict_

{'Cabin': {'A': 0.42857142857142855,
  'B': 0.7741935483870968,
  'C': 0.5714285714285714,
  'D': 0.6923076923076923,
  'E': 0.7407407407407407,
  'F': 0.6666666666666666,
  'G': 0.5,
  'T': 0.0,
  'n': 0.3036093418259023},
 'Sex': {'female': 0.7534883720930232, 'male': 0.19607843137254902},
 'Embarked': {'C': 0.5648148148148148,
  'Missing': 1.0,
  'Q': 0.4107142857142857,
  'S': 0.3413566739606127}}

In [87]:
X_train = mean_enc.transform(X_train)
X_test = mean_enc.transform(X_test)

# let's explore the result
X_train.head()

          Sex  Embarked     Cabin
857  0.196078  0.341357  0.740741
52   0.753488  0.564815  0.692308
386  0.196078  0.341357  0.303609
124  0.196078  0.341357  0.692308
578  0.753488  0.564815  0.303609